/* Basic styling for navigation */
nav {
    background-color: black; /* Dark background for the navbar */
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: white; /* Lighter color on hover */
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

/* Search container styling */
.search-container input[type="text"], .search-container button {
    padding: 8px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.search-container button {
    background-color: grey;
    color: white;
    cursor: pointer;
}

/* Navigation container */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this to create space between logo and search */
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

/* Container for images, movies, and TV shows */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; /* Space between the containers */
}

.movie, .tv-show {
    flex: 1 0 21%;
    margin: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie img, .tv-show img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie:hover, .tv-show:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Feedback form styling */
.feedback-form {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.feedback-form h2 {
    margin-top: 0;
}

.feedback-form input,
.feedback-form textarea,
.feedback-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback-form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #218838;
}

/* Carousel styling */
#carouselExampleIndicators .carousel-item img {
    width: 100%;
    height: 300px; /* Set your desired height here */
    object-fit: cover;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}


footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    clear: both;
}

.social-icons {
    display: flex;
    justify-content: right;
}

.social-icons a {
    margin: 0 10px; /* Adjust the spacing between icons */
}

.social-icons img {
    width: 20px; /* Adjust the size of the icons */
    height: 20px;
}

/* General image styling */
img {
    max-width: 100%;
    height: auto;
}


.footer-logo {
    text-align: left; /* adjust as needed */
}
.footer-logo img {
    width: 10px; /* adjust size as needed */
    height: auto; /* maintain aspect ratio */
}
.copyright {
    text-align: left;
}



.image-container {
    position: relative;
    display: inline-block;
  }
  .button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .button.book {
    left: 10px;
  }
  .button.buy {
    right: 10px;
  }

  @media (min-width: 768px) {
    .image-container {
        width: 48%;
    }
}

@media (min-width: 992px) {
    .image-container {
        width: 30%;
    }
}